@import "variables.scss";
@media (min-width: 850px) {
    header {
        height: 90px;
        padding: 10px 10.833vw;
        .logo {
            img {
                &:first-child {
                    display: none;
                }
                &:nth-last-child(1) {
                    display: block;
                }
            }
        }
        nav {
            width: auto;
            .menu {
                input {
                    display: none;
                }
                .hamb {
                    display: none;
                }
                ul {
                    display: flex;
                    width: 100%;
                    position: relative;
                    top: 0;
                    background: none;
                    height: auto;
                    transition: none;
                    justify-content: space-between;
                    li {
                        color: var(--colorPricipal);
                        a {
                            color: var(--colorPricipal);
                        }
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: var(--colorSecundario);
                        }
                    }
                    button {
                        background: none;
                        border: 1px solid var(--colorPricipal);
                        border-radius: 50%;
                        width: 56px;
                        height: 56px;
                        color: var(--colorPricipal);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    main {
        .headShown {
            h1 {
                font-size: 35px;
                line-height: 50px;
                font-weight: 700;
                margin: 76px 0 24px 0;
                #br {
                    display: block;
                }
            }
            #ilustra_header {
                width: 27.71%;
            }
            .search_bar {
                width: 38.4%;
                margin-bottom: 3.82%;
            }
            .search_bar_clicked {
                width: 38.4%;
                margin-bottom: 3.82%;
            }
            .trendsShow {
                margin: 1.25% 0 6.6% 0;
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .searchShown {
            .line {
                width: 25%;
                margin-top: 0;
            }
            .resultsShown {
                align-items: center;
                h2 {
                    font-size: 35px;
                    color: var(--colorPricipal);
                    font-weight: 700;
                    margin: 5.7% 0 4.1% 0;
                }
                .searchGifs {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2.1vw;
                    width: 78.264%;
                    height: auto;
                    justify-content: space-between;
                    img {
                        width: 100%;
                        height: 13.9vw;
                        margin: 0 0 0 0;
                    }
                    .cardDiv {
                        @include gifCard(18%, 13.9vw);
                    }
                }
                .maxed {
                    @include maxed(none);
                }

                button {
                    margin: 3.34% 0 5.5% 0;
                    font-weight: 700;
                    width: 8.96%;
                }
            }
            .noResultsShown {
                h2 {
                    margin: 20.5% 0 36% 0;
                    font-size: 30px;
                }
                img {
                    width: 150px;
                    margin-bottom: 9.6%;
                }

                p {
                    margin-bottom: 47.7%;
                }
            }
        }
        .favShown {
            display: flex;
            flex-direction: column;
            align-items: center;
            .resultsShown {
                align-items: center;
                .favDivCtn {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2.1vw;
                    width: 78.264%;
                    height: auto;
                    justify-content: space-between;
                    img {
                        width: 100%;
                        height: 13.9vw;
                        margin: 0 0 0 0;
                    }
                    .cardDiv {
                        @include gifCard(18%, 13.9vw);
                    }
                }
                .maxed {
                    @include maxed(none);
                }
            }
            .noResultsShown {
                @include noResultsDesktop;
            }
        }
        .crateGifHidden {
            display: none;
        }
        .trendingShown {
            h2 {
                padding-top: 4.66%;
                font-size: 25px;
            }
            p {
                margin: 0.85% 0 3.7% 0;
                font-size: 18px;
                span {
                    display: inline-block;
                }
            }
            .gif_container {
                padding-bottom: 12.64%;
                .trendBtnLt {
                    display: flex;
                    border: 1px solid var(--colorPricipal);
                    width: 40px;
                    height: 40px;
                    padding: 12px 15px 12px 15px;
                    cursor: pointer;
                    &:hover {
                        border: none;
                        background-color: var(--colorPricipal);
                        padding: 0;
                    }
                }
                .trendCtn {
                    width: 80%;
                    overflow: hidden;
                    img {
                        margin: 0 0 0 2.3%;
                        width: 30.989%;
                        height: 19vw;
                    }
                    .cardDiv {
                        @include gifCard(24.791%, 19vw);
                    }
                }
                .maxed {
                    @include maxed(none);
                }
                .trendBtnRt {
                    display: flex;
                    border: 1px solid var(--colorPricipal);
                    width: 40px;
                    height: 40px;
                    padding: 12px 15px 12px 15px;
                    margin-left: 2.3%;
                    cursor: pointer;
                    &:hover {
                        border: none;
                        background-color: var(--colorPricipal);
                        padding: 0;
                    }
                }
            }
        }
    }
    footer {
        flex-direction: row;
        justify-content: flex-start;

        h5 {
            margin: 50px 1.18% 50px 11%;
            flex-shrink: 0;
            font-size: 13px;
        }
        .icons {
            flex-shrink: 0;
            width: 6%;
        }
        p {
            margin: 0 11% 0 51%;
            font-size: 13px;
            flex-shrink: 0;
        }
    }
}
/*---------------------CLASES PARA GIF-MAX-------------*/
