@media (min-width: 850px) {
    header {
        height: 90px;
        .logo {
            img {
                &:first-child {
                    display: none;
                }
                &:nth-last-child(1) {
                    display: block;
                }
            }
        }
        nav {
            width: 40%;
            .menu {
                input {
                    display: none;
                }
                .hamb {
                    display: none;
                }
                ul {
                    display: flex;
                    width: 100%;
                    position: relative;
                    top: 0;
                    background: none;
                    height: auto;
                    transition: none;
                    justify-content: space-between;
                    li {
                        color: #572ee5;
                        a {
                            color: #572ee5;
                        }
                    }
                    button {
                        background: none;
                        border: 1px solid #572ee5;
                        border-radius: 50%;
                        width: 56px;
                        height: 56px;
                        color: #572ee5;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
    main {
        .headShown {
            h1 {
                font-size: 35px;
                line-height: 50px;
                font-weight: 700;
                margin: 76px 0 24px 0;
                #br {
                    display: block;
                }
            }
            #ilustra_header {
                width: 27.71%;
            }
            .search_bar {
                width: 38.4%;
                margin-bottom: 3.82%;
            }
            .search_bar_clicked {
                width: 38.4%;
                margin-bottom: 3.82%;
            }
            .trendsShow {
                margin: 1.25% 0 6.6% 0;
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .searchShown {
            .line {
                width: 25%;
                margin-top: 0;
            }
            .resultsShown {
                align-items: center;
                h2 {
                    font-size: 35px;
                    color: #572ee5;
                    font-weight: 700;
                    margin: 5.7% 0 4.1% 0;
                }
                .searchGifs {
                    width: 78.264%;
                    height: auto;
                    justify-content: space-between;
                    img {
                        width: 23%;
                        height: 13.9vw;
                        margin: 0 0 2.1vw 0;
                    }
                    .cardDiv {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        background: rgba(87, 46, 229, 0.7);
                        width: 18%;
                        height: 13.9vw;
                        position: absolute;
                        margin-left: 0;
                        z-index: 0;
                        .divIcons {
                            display: flex;
                            align-self: end;
                            img {
                                opacity: 0.7;
                                background: #ffffff;
                                border-radius: 6px;
                                margin: 10px 10px 0 0;
                                width: 32px;
                                height: 32px;
                                padding: 7px;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                        .divText {
                            display: flex;
                            flex-direction: column;
                            align-self: flex-star;

                            :first-child {
                                font-family: "Roboto";
                                font-size: 15px;
                                color: #ffffff;
                                text-align: left;
                            }
                            :last-child {
                                font-family: "Roboto";
                                font-size: 16px;
                                color: #ffffff;
                                font-weight: 700;
                                text-align: left;
                            }
                        }
                    }
                }
                button {
                    margin: 3.34% 0 5.5% 0;
                    font-weight: 700;
                    width: 8.96%;
                }
            }
            .noResultsShown {
                h2 {
                    margin: 20.5% 0 36% 0;
                    font-size: 30px;
                }
                img {
                    width: 150px;
                    margin-bottom: 9.6%;
                }

                p {
                    margin-bottom: 47.7%;
                }
            }
        }
        .trending {
            h2 {
                padding-top: 4.66%;
                font-size: 25px;
            }
            p {
                margin: 0.85% 0 3.7% 0;
                font-size: 18px;
                span {
                    display: inline-block;
                }
            }
            .gif_container {
                padding-bottom: 12.64%;
                .trendBtnLt {
                    display: flex;
                    border: 1px solid #572ee5;
                    width: 40px;
                    height: 40px;
                    padding: 12px 15px 12px 15px;
                }
                .trendBtnRt {
                    display: flex;
                    border: 1px solid #572ee5;
                    width: 40px;
                    height: 40px;
                    padding: 12px 15px 12px 15px;
                    margin-left: 2.3%;
                }
                .trendCtn {
                    width: 80%;
                    overflow: hidden;
                    img {
                        margin: 0 0 0 2.3%;
                        width: 30.989%;
                        height: 19vw;
                    }
                }
            }
        }
    }
    footer {
        flex-direction: row;
        justify-content: flex-start;

        h5 {
            margin: 50px 1.18% 50px 11%;
            flex-shrink: 0;
            font-size: 13px;
        }
        .icons {
            flex-shrink: 0;
            width: 6%;
        }
        p {
            margin: 0 11% 0 51%;
            font-size: 13px;
            flex-shrink: 0;
        }
    }
}
/*---------------------CLASES PARA GIF-MAX-------------*/
