:root {
    --colorPricipal: #572ee5;
    --colorSecundario: #50e3c2;
    --colorBackground: #ffffff;
    --clPrincTrans: rgba(87, 46, 229, 0.9);
    --clSpanHamb: rgba(255, 255, 255, 0.3);
    --colorSearchs: #9cafc3;
    --trendBackColor: #f3f5f8;
    --letrasNegras: #000000;
}
