@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500&display=swap");
/*----------------FONT WEIGHT--------------------------------
REGULAR: 400
MEDIUM: 500
BOLD:700
--------------------------------------------------------*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 33px;
  font-weight: 700; }

h2 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
  font-weight: 700; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
  font-weight: 700; }

h5 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
  font-weight: 500; }

a, li {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  line-height: 60px;
  text-decoration: none; }

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left; }

.search_title {
  font-family: "Montserrat";
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 40px; }

button {
  font-family: "Montserrat";
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700; }

:root {
  --colorPricipal: #572ee5;
  --colorSecundario: #50e3c2;
  --colorBackground: #ffffff;
  --clPrincTrans: rgba(87, 46, 229, 0.9);
  --clSpanHamb: rgba(255, 255, 255, 0.3);
  --colorSearchs: #9cafc3;
  --trendBackColor: #f3f5f8;
  --letrasNegras: #000000; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: var(--colorPricipal);
  padding: 5px 0 5px 0; }

/*-------------------HEADER------------------------*/
header {
  width: 100%;
  position: sticky;
  height: 95px;
  top: 0;
  padding: 10px 6.93%;
  background: var(--colorBackground);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo img {
    float: left;
    cursor: pointer; }
    header .logo img:first-child {
      display: block; }
    header .logo img:nth-last-child(2) {
      display: none; }
    header .logo img:nth-last-child(1) {
      display: none; }
  header nav {
    float: right; }
    header nav .menu {
      padding-top: 3px; }
      header nav .menu input {
        display: block;
        width: 40px;
        height: 32px;
        opacity: 0;
        z-index: 2;
        position: absolute;
        cursor: pointer; }
        header nav .menu input:checked ~ ul {
          height: 490px;
          transition: height 0.5s ease-in-out;
          -moz-transition: height 0.5s ease-in-out;
          -o-transition: height 0.5s ease-in-out;
          -webkit-transition: height 0.5s ease-in-out; }
        header nav .menu input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(2px, 1px); }
          header nav .menu input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2); }
          header nav .menu input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(1px, 1px); }
      header nav .menu .hamb {
        display: block;
        width: 15px;
        height: 2.5px;
        margin-bottom: 2.5px;
        position: relative;
        background: var(--colorPricipal);
        z-index: 1;
        transform-origin: 3px 0px;
        transition: transform 0.5s ease, opacity 0.55s ease; }
        header nav .menu .hamb:first-child {
          transform-origin: 0% 0%; }
        header nav .menu .hamb:nth-last-child(2) {
          transform-origin: 0% 100%; }
      header nav .menu ul {
        width: 100%;
        position: absolute;
        top: 95px;
        right: 0;
        overflow: hidden;
        list-style: none;
        background: var(--clPrincTrans);
        height: 0px;
        transition: height 0.5s ease;
        z-index: 1; }
        header nav .menu ul li {
          display: flex;
          justify-content: center;
          cursor: pointer; }
          header nav .menu ul li:nth-child(2) {
            display: none; }
        header nav .menu ul span {
          margin-top: -7px;
          display: flex;
          background-color: var(--colorSearchs);
          height: 1.5px;
          width: 40px;
          margin-left: auto;
          margin-right: auto; }
        header nav .menu ul button {
          display: none; }

/*-------------------MAIN-----------------------*/
main {
  margin-top: 0;
  background-color: var(--colorBackground); }
  main .headShown {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .headShown h1 {
      margin: 0 12% 8% 12%; }
      main .headShown h1 #br {
        display: inline-block; }
      main .headShown h1 #gifos {
        color: var(--colorSecundario); }
    main .headShown #ilustra_header {
      width: 72.8%; }
    main .headShown .search_bar {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      background: var(--colorBackground);
      border: 1px solid var(--colorPricipal);
      border-radius: 27px;
      width: 89.6%;
      height: auto;
      padding: 12.5px 18px 12.5px 18px;
      margin-bottom: 8%; }
      main .headShown .search_bar input::placeholder {
        color: var(--colorSearchs); }
      main .headShown .search_bar .busqueDiv {
        display: flex;
        width: 100%; }
        main .headShown .search_bar .busqueDiv .input_ctn {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 22px; }
          main .headShown .search_bar .busqueDiv .input_ctn input {
            border: none; }
        main .headShown .search_bar .busqueDiv .lupaImgShow {
          background: none;
          border: none;
          display: flex;
          padding: 0;
          cursor: pointer; }
          main .headShown .search_bar .busqueDiv .lupaImgShow .search {
            width: 20px; }
        main .headShown .search_bar .busqueDiv .close {
          display: none; }
      main .headShown .search_bar .lineaHid {
        display: none; }
      main .headShown .search_bar .suggest_container {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
    main .headShown .search_bar_clicked {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      background: var(--colorBackground);
      border: 1px solid var(--colorPricipal);
      border-radius: 27px;
      width: 89.6%;
      height: auto;
      padding: 12.5px 18px 12.5px 18px;
      margin-bottom: 8%; }
      main .headShown .search_bar_clicked .busqueDiv {
        display: flex;
        flex-direction: row-reverse;
        width: 100%; }
        main .headShown .search_bar_clicked .busqueDiv .lupaImgHid {
          display: none; }
        main .headShown .search_bar_clicked .busqueDiv .lupaImgShow {
          display: flex;
          background: none;
          border: none;
          padding: 0;
          margin-right: 14.6px;
          cursor: pointer; }
        main .headShown .search_bar_clicked .busqueDiv .input_ctn {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 22px; }
          main .headShown .search_bar_clicked .busqueDiv .input_ctn input {
            border: none; }
        main .headShown .search_bar_clicked .busqueDiv .close {
          display: flex;
          padding: 0;
          width: 14px;
          margin-left: 5px;
          cursor: pointer; }
      main .headShown .search_bar_clicked .lineaHid {
        display: none; }
      main .headShown .search_bar_clicked .lineaShow {
        display: block;
        width: 100%;
        opacity: 0.5;
        border: 1px solid var(--colorSearchs);
        margin: 10px 0 4px 0; }
      main .headShown .search_bar_clicked .suggest_container {
        display: flex;
        flex-direction: column;
        width: 100%; }
        main .headShown .search_bar_clicked .suggest_container .suggestDiv {
          display: flex;
          align-items: center;
          height: 22px;
          margin: 10px 0 0 0;
          cursor: pointer; }
          main .headShown .search_bar_clicked .suggest_container .suggestDiv img {
            width: 15.8px;
            margin-right: 14.6px; }
          main .headShown .search_bar_clicked .suggest_container .suggestDiv p {
            margin: 0;
            color: var(--colorSearchs); }
    main .headShown .trendsShow {
      margin: 0 20% 12% 20%; }
      main .headShown .trendsShow .trenDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        main .headShown .trendsShow .trenDiv p {
          cursor: pointer; }
    main .headShown .trendsHidden {
      display: none; }
  main .headHidden {
    display: none; }
  main .searchHidden {
    display: none; }
  main .searchShown, main .favShown, main .mis_gifosShown {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .searchShown .line, main .favShown .line, main .mis_gifosShown .line {
      width: 35%;
      opacity: 0.5;
      border: 1px solid var(--colorSearchs);
      margin-top: 10.2%; }
    main .searchShown .resultsHidden, main .favShown .resultsHidden, main .mis_gifosShown .resultsHidden {
      display: none; }
    main .searchShown .resultsShown, main .favShown .resultsShown, main .mis_gifosShown .resultsShown {
      display: flex;
      flex-direction: column; }
      main .searchShown .resultsShown h2, main .favShown .resultsShown h2, main .mis_gifosShown .resultsShown h2 {
        margin: 11.4% 0 3.5% 0; }
      main .searchShown .resultsShown div, main .favShown .resultsShown div, main .mis_gifosShown .resultsShown div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 2.4% 0 2.4%; }
        main .searchShown .resultsShown div img, main .favShown .resultsShown div img, main .mis_gifosShown .resultsShown div img {
          width: 41.6%;
          height: 32vw;
          margin: 25px 11px 0 11px; }
      main .searchShown .resultsShown button, main .favShown .resultsShown button, main .mis_gifosShown .resultsShown button {
        margin: 20.8% 0 20.8% 0;
        align-self: center;
        width: 34.4%;
        height: 50px;
        border: 1px solid var(--colorPricipal);
        border-radius: 25px;
        background: none;
        cursor: pointer; }
    main .searchShown .noResultsHidden, main .favShown .noResultsHidden, main .mis_gifosShown .noResultsHidden {
      display: none; }
    main .searchShown .noResultsShown, main .favShown .noResultsShown, main .mis_gifosShown .noResultsShown {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .searchShown .noResultsShown h2, main .favShown .noResultsShown h2, main .mis_gifosShown .noResultsShown h2 {
        margin: 11.4% 0 26% 0; }
      main .searchShown .noResultsShown img, main .favShown .noResultsShown img, main .mis_gifosShown .noResultsShown img {
        width: 130px;
        margin-bottom: 5%; }
      main .searchShown .noResultsShown p, main .favShown .noResultsShown p, main .mis_gifosShown .noResultsShown p {
        font-size: 22px;
        color: var(--colorSecundario);
        text-align: center;
        line-height: 25px;
        margin-bottom: 26%;
        font-weight: 700; }
  main .favHidden {
    display: none; }
  main .favShown {
    display: flex;
    flex-direction: column;
    align-items: center; }
  main .mis_gifosHidden {
    display: none; }
  main .trending {
    background-color: var(--trendBackColor); }
    main .trending h2 {
      padding-top: 12%; }
    main .trending p {
      margin: 2% 0 8.6% 0;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: var(--letrasNegras);
      text-align: center;
      line-height: 23px; }
      main .trending p span {
        display: block; }
    main .trending .gif_container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 22%; }
      main .trending .gif_container .trendBtnLt {
        display: none; }
      main .trending .gif_container .trendBtnRt {
        display: none; }
      main .trending .gif_container .trendCtn {
        display: flex;
        overflow-x: scroll;
        width: 100%; }
        main .trending .gif_container .trendCtn img {
          margin: 0 0 0 5.867%;
          width: 64.8%;
          height: 49.87vw;
          flex-shrink: 0; }

/*----------------------FOOTER--------------------------*/
footer {
  background-color: var(--colorBackground);
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer h5 {
    margin: 12.5% 0 6% 0; }
  footer .icons {
    display: flex;
    justify-content: space-evenly;
    width: 30%; }
  footer p {
    margin: 12% 0 6.2% 0;
    font-family: "Roboto";
    font-size: 14px;
    color: var(--letrasNegras);
    letter-spacing: 0;
    line-height: 20px; }

/*---------------------CLASES PARA GIF-MAX-------------*/
@media (min-width: 850px) {
  header {
    height: 90px; }
    header .logo img:first-child {
      display: none; }
    header .logo img:nth-last-child(1) {
      display: block; }
    header nav {
      width: 40%; }
      header nav .menu input {
        display: none; }
      header nav .menu .hamb {
        display: none; }
      header nav .menu ul {
        display: flex;
        width: 100%;
        position: relative;
        top: 0;
        background: none;
        height: auto;
        transition: none;
        justify-content: space-between; }
        header nav .menu ul li {
          color: #572ee5; }
          header nav .menu ul li a, header nav .menu ul li li {
            color: #572ee5; }
        header nav .menu ul button {
          background: none;
          border: 1px solid #572ee5;
          border-radius: 50%;
          width: 56px;
          height: 56px;
          color: #572ee5;
          display: flex;
          justify-content: center; }

  main .headShown h1 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    margin: 76px 0 24px 0; }
    main .headShown h1 #br {
      display: block; }
  main .headShown #ilustra_header {
    width: 27.71%; }
  main .headShown .search_bar {
    width: 38.4%;
    margin-bottom: 3.82%; }
  main .headShown .search_bar_clicked {
    width: 38.4%;
    margin-bottom: 3.82%; }
  main .headShown .trendsShow {
    margin: 1.25% 0 6.6% 0; }
    main .headShown .trendsShow h3 {
      font-size: 18px; }
    main .headShown .trendsShow p {
      font-size: 16px; }
  main .searchShown .line, main .favShown .line, main .mis_gifosShown .line {
    width: 25%;
    margin-top: 0; }
  main .searchShown .resultsShown, main .favShown .resultsShown, main .mis_gifosShown .resultsShown {
    align-items: center; }
    main .searchShown .resultsShown h2, main .favShown .resultsShown h2, main .mis_gifosShown .resultsShown h2 {
      font-size: 35px;
      color: #572ee5;
      font-weight: 700;
      margin: 5.7% 0 4.1% 0; }
    main .searchShown .resultsShown div, main .favShown .resultsShown div, main .mis_gifosShown .resultsShown div {
      width: 78.264%;
      height: auto;
      justify-content: space-between; }
      main .searchShown .resultsShown div img, main .favShown .resultsShown div img, main .mis_gifosShown .resultsShown div img {
        width: 23%;
        height: 13.9vw;
        margin: 0 0 2.1vw 0; }
    main .searchShown .resultsShown button, main .favShown .resultsShown button, main .mis_gifosShown .resultsShown button {
      margin: 3.34% 0 5.5% 0;
      font-weight: 700;
      width: 8.96%; }
  main .searchShown .noResultsShown h2, main .favShown .noResultsShown h2, main .mis_gifosShown .noResultsShown h2 {
    margin: 20.5% 0 36% 0;
    font-size: 30px; }
  main .searchShown .noResultsShown img, main .favShown .noResultsShown img, main .mis_gifosShown .noResultsShown img {
    width: 150px;
    margin-bottom: 9.6%; }
  main .searchShown .noResultsShown p, main .favShown .noResultsShown p, main .mis_gifosShown .noResultsShown p {
    margin-bottom: 47.7%; }
  main .trending h2 {
    padding-top: 4.66%;
    font-size: 25px; }
  main .trending p {
    margin: 0.85% 0 3.7% 0;
    font-size: 18px; }
    main .trending p span {
      display: inline-block; }
  main .trending .gif_container {
    padding-bottom: 12.64%; }
    main .trending .gif_container .trendBtnLt {
      display: flex;
      border: 1px solid #572ee5;
      width: 40px;
      height: 40px;
      padding: 12px 15px 12px 15px; }
    main .trending .gif_container .trendBtnRt {
      display: flex;
      border: 1px solid #572ee5;
      width: 40px;
      height: 40px;
      padding: 12px 15px 12px 15px;
      margin-left: 2.3%; }
    main .trending .gif_container .trendCtn {
      width: 80%; 
  overflow}
      main .trending .gif_container .trendCtn img {
        margin: 0 0 0 2.3%;
        width: 30.989%;
        height: 19vw; }

  footer {
    flex-direction: row;
    justify-content: flex-start; }
    footer h5 {
      margin: 50px 1.18% 50px 11%;
      flex-shrink: 0;
      font-size: 13px; }
    footer .icons {
      flex-shrink: 0;
      width: 6%; }
    footer p {
      margin: 0 11% 0 51%;
      font-size: 13px;
      flex-shrink: 0; } }

/*# sourceMappingURL=styles.css.map */
